/*
 * Copyright (c) 2023 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/{
	state_notifier_gpios{
		compatible = "gpio-keys";
		state_notifier_error: error  {
			gpios = <&gpio1 0x7 0x0>;
			label = "Application state error";
		};
		state_notifier_dfu: dfu  {
			gpios = <&gpio1 0x1 0x0>;
			label = "Application state dfu";
		};
		state_notifier_sending: sending  {
			gpios = <&gpio1 0x3 0x0>;
			label = "Application state sending";
		};
		state_notifier_receiving: receiving  {
			gpios = <&gpio1 0x2 0x0>;
			label = "Application state receiving";
		};
	};

	aliases {
		state-notifier-connected = &led0;
		state-notifier-time-sync = &led1;
		state-notifier-registered = &led2;
		state-notifier-working = &led3;
		state-notifier-error = &state_notifier_error;
		state-notifier-dfu = &state_notifier_dfu;
		state-notifier-sending = &state_notifier_sending;
		state-notifier-receiving = &state_notifier_receiving;
	};

	chosen {
		/* nordic,pm-ext-flash removed; slot1 is DTS-defined on &mx25r64 */
	};
};

/delete-node/ &boot_partition;
/delete-node/ &slot0_partition;
/delete-node/ &slot1_partition;
/delete-node/ &storage_partition;

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x0 DT_SIZE_K(28)>;
		};

		slot0_partition: partition@7000 {
			label = "image-0";
			reg = <0x7000 0xf6000>;
		};

		storage_partition: partition@fd000 {
			label = "storage";
			reg = <0xfd000 DT_SIZE_K(8)>;
		};

		mfg_storage: hw_unique_key_partition: partition@ff000 {
			label = "mfg_storage";
			reg = <0xff000 DT_SIZE_K(4)>;
		};
	};
};

&mx25r64 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		slot1_partition: partition@0 {
			label = "image-1";
			reg = <0x0 0xf6000>;
		};
	};
};
