/*
 * Copyright (c) 2025 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

#include <samples/sid_end_device/state_notifier_aliases.dtsi>

&adc {
	status = "disabled";
};

/* Disable SPI NOR flash - not needed for Sidewalk samples */
&spi00 {
	status = "disabled";
};

#include <samples/nrf54lm20dk_nrf54lm20a_cpuapp_partitions.dtsi>
