/*
 * Copyright (c) 2023 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

&spi3 {
	status = "disabled";
};

&spi2 {
	compatible = "nordic,nrf-spi";
	// This is the SPI instance used by the SX1262 driver
	// It is disabled to use nrfx_spi_gpios pins instead
	status = "disabled";
};

&spi1 {
	compatible = "nordic,nrf-spi";
	clock-frequency = <DT_FREQ_M(8)>;
	/delete-property/ cs-gpios;
	lora: lora@0 {
		status = "disabled";
	};
};

&uart0 {
	status = "disabled";
};

&i2c0 {
	status = "disabled";
};

/{
	nrfx_spi_gpios{
		compatible = "gpio-keys";
		nrfx_spi_sck: sck {
			gpios = <&gpio1 11 GPIO_ACTIVE_HIGH>;
			label = "spi_sck";
		};
		nrfx_spi_miso: miso {
			gpios = <&gpio1 13 GPIO_ACTIVE_HIGH>;
			label = "spi_miso";
		};
		nrfx_spi_mosi: mosi {
			gpios = <&gpio1 12 GPIO_ACTIVE_HIGH>;
			label = "spi_mosi";
		};
		nrfx_spi_cs: cs {
			gpios = <&gpio1 10 GPIO_ACTIVE_LOW>;
			label = "spi_cs";
		};
	};

	semtech_sx1262_gpios{
		compatible = "gpio-keys";
		semtech_sx1262_reset_gpios: reset {
			gpios = <&gpio1 6 (GPIO_ACTIVE_LOW|GPIO_PULL_UP)>;
			label = "semtech_sx1262 Reset";
		};
		semtech_sx1262_busy_gpios: busy {
			gpios = <&gpio1 14 GPIO_ACTIVE_HIGH>;
			label = "semtech_sx1262 Busy";
		};
		semtech_sx1262_antenna_enable_gpios: antena_enable {
			gpios = <&gpio1 5 GPIO_ACTIVE_HIGH>;
			label = "semtech_sx1262 Antena Enable";
		};
		semtech_sx1262_dio1_gpios: dio1 {
			gpios = <&gpio1 15 (GPIO_ACTIVE_HIGH|GPIO_PULL_DOWN)>;
			label = "semtech_sx1262 DIO1";
		};
	};

	chosen {
		zephyr,console = &cdc_acm_uart0;
		zephyr,shell-uart = &cdc_acm_uart0;
	};
};

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};
