/*
 * Copyright (c) 2026 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

&sram0_s {
	reg = <0x0 0x13000>;
	ranges = <0x0 0x0 0x13000>;
};

&sram0_ns {
	reg = <0x13000 0x2d000>;
	ranges = <0x0 0x13000 0x2d000>;
};

#include <nrf54l15_cpuapp_ns_partitions.dtsi>
