/*
 * Copyright (c) 2026 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/delete-node/ &boot_partition;
/delete-node/ &slot0_partition;
/delete-node/ &slot1_partition;
/delete-node/ &storage_partition;

&cpuapp_rram {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		slot0_partition: partition@0 {
			label = "image-0";
			reg = <0x0 DT_SIZE_K(1904)>;
		};

		storage_partition: partition@1dc000 {
			label = "storage";
			reg = <DT_SIZE_K(1904) DT_SIZE_K(8)>;
		};

		mfg_storage: partition@1de000 {
			label = "mfg_storage";
			reg = <DT_SIZE_K(1912) DT_SIZE_K(4)>;
		};
	};
};
