*.o
*.d
*.cmd
*.log
*.pyc
*.swp
*.swo
*~
build
build-*
build_*
cscope.*
.dir
venv
.venv
.cache

/*.patch

tags
.project
.cproject
.xxproject
.envrc
.vscode
.devcontainer
sanity-out*
twister-out*
map.yml
hardware-map.yaml*
coverage.info

doc/_build
doc/nrf/_doxygen/
doc/nrf/_samples/
doc/*_warnings.txt
doc/*_doc.log

ext/lib/bin/supl
ext/lib/bin/libsupl.zip
ext/BSEC_*

**/version.conf

YAMLLint.txt
Gitlint.txt
compliance.xml

.DS_Store
