#
# Copyright (c) 2023 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-4-Clause
#

config SIDEWALK_DUT_CLI
	bool "Enable sidewalk CLI"
  	default y
	imply SHELL

config SIDEWALK_GPIO
	default y

config SIDEWALK_SPI_BUS
	default y

config SIDEWALK_TEMPERATURE
	default y

choice SIDEWALK_LINK_MASK
	default SIDEWALK_LINK_MASK_FSK
endchoice

config SHELL_CMD_BUFF_SIZE
	default 1024

rsource "../../../samples/common/Kconfig.defconfig"

source "Kconfig.zephyr"
