#
# Copyright (c) 2022 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-4-Clause
#
config SIDEWALK_TEMPERATURE
	default y
	imply SENSOR
	imply TEMP_NRF5

source "Kconfig.zephyr"
