#
# Copyright (c) 2024 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config ROLE_HOST
	int "Change test behaviour depending on Host/Device role"
	default 1
	help
		Change test behaviour.
		0: Device - returns data received previously
		1: Host - generates data, sends it to the Device, confirms that received data is correct

config PAYLOAD_LEN
	int "lenth of payload"
	default 64

config DELAY_BETWEEN_PACKETS_MS
	int "lenth of payload"
	default 1
	range 0 60000

source "Kconfig.zephyr"
