#
# Copyright (c) 2023 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config SIDEWALK_CRITICAL_REGION_RE_ENTRY_MAX
	default 2
	help
	  Maximum nesting level of critical region 
	  If the nesting level becomes greater than set by this config, assert will be triggered.

rsource "../../../Kconfig"
source "Kconfig.zephyr"
