#
# Copyright (c) 2023 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config MAIN_THREAD_PRIORITY
    default 14

config SIDEWALK_GPIO_MAX
    default 2

config SIDEWALK_GPIO_IRQ_PRIORITY
	default 1

config SIDEWALK_LOG_LEVEL
    default 0

config SIDEWALK_GPIO_IRQ_STACK_SIZE
	default 2048

source "Kconfig.zephyr"
