#
# Copyright (c) 2022 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#
config SIDEWALK_BUILD
	default y

config SIDEWALK_CRYPTO
	default y

config SIDEWALK_CRYPTO_LOG_LEVEL
	default 0

config SIDEWALK_LOG_LEVEL
	default 0
# Stacks
config MAIN_STACK_SIZE
	default 8192
config ZTEST_STACK_SIZE
	default 8192
config HEAP_MEM_POOL_SIZE
	default 8192
config MBEDTLS_ENABLE_HEAP
	default y
config MBEDTLS_HEAP_SIZE
	default 8192


source "${ZEPHYR_BASE}/../sidewalk/Kconfig"
source "${ZEPHYR_BASE}/../sidewalk/Kconfig.dependencies"
source "Kconfig.zephyr"
