# Config options for logger sample app
#
# Copyright (c) 2022 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-4-Clause
#

mainmenu "Sidewalk functional tests"

menu "Unit under test configuration"

endmenu

source "Kconfig.zephyr"
