#
# Copyright (c) 2022 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#
config SIDEWALK_BUILD
	default y

config SIDEWALK_LOG_LEVEL
	default 0

module = SIDEWALK_BLE_ADAPTER
module-str = Sidewalk BLE interface
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

config SIDEWALK_BLE_ADV_INT_PRECISION
	int "test value for Sidewalk configuration macro"
	default 5

config SIDEWALK_BLE_ADV_INT_FAST
	int "test value for Sidewalk configuration macro"
	default 160
	
config SIDEWALK_BLE_ADV_INT_SLOW
	int "test value for Sidewalk configuration macro"
	default 1000

config SIDEWALK_BLE_ADV_INT_TRANSITION
	int "test value for Sidewalk configuration macro"
	default 30

source "Kconfig.zephyr"
