/*
 * Copyright (c) 2022 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/*
* Storage partition will be used by NVS
* if enabled.
*/
&storage_partition{
	reg = <0x000f8000 0x00007000>;
};

/*
* Flash partition for the Sidewalk MFG storage.
*/
&flash0 {
	partitions {
		sid_mfg_storage_partition: partition@ff000 {
			label = "mfg_storage";
			reg = <0x000ff000 0x00001000>;
		};
	};
};
