#
# Copyright (c) 2022 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

rsource "tlv/Kconfig"
rsource "buttons_utils/Kconfig"
rsource "state_notifier/Kconfig"
rsource "settings_utils/Kconfig"
rsource "sidewalk_dfu/Kconfig"
