#
# Copyright (c) 2022 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig SIDEWALK_SETTINGS_UTILS
	bool "Enables Sidewalk settings utils module"
	default SIDEWALK
	help
		Sidewalk settings utils allows samples to
		keep data in non-volatile storage.

if SIDEWALK_SETTINGS_UTILS

config PERSISTENT_LINK_MASK_SETTINGS_KEY
	string
	default "application/settings/link_mask"
	help
	  Key for settings to store last Sidewalk link mode in flash for next reboot

config DEPRECATED_DFU_FLAG_SETTINGS_KEY
	bool "Enable Key for settings to store DFU flag in flash for next reboot [DEPRICATED]"

if DEPRECATED_DFU_FLAG_SETTINGS_KEY
config DFU_FLAG_SETTINGS_KEY
	string
	default "application/settings/DFU_mode"
	help
	  Note: [DEPRICATED]
	  Key for settings to store DFU flag in flash for next reboot
	  If value is set to True, the applicaiton will start in DFU mode after reset
	  Deprecated in favor of DFU state in Sidewalk samples application.

endif # DEPRECATED_DFU_FLAG_SETTINGS_KEY
endif # SIDEWALK_SETTINGS_UTILS
