#
# Copyright (c) 2022 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-4-Clause
#

config SIDEWALK_HAL
	bool "Amazon Sidewalk HAL for nRF Connect SDK"
	default y if SIDEWALK

config SIDEWALK_HAL_BUTTONS
	bool
	default y if SIDEWALK

config NOTIFIER_HANDLER_MAX
	int "Maximum number of the notifier listeners"
	default 2 if LOG
	default 1
