name: Build Sidewalk samples and tests
on:
  workflow_call:
    inputs:
      change_nrf_revision:
        description: 'change revision of nrf in west.yml to `main`'
        default: false
        required: false
        type: boolean

jobs:
  build_samples:
    strategy:
      matrix:
        subset: [1, 2, 3, 4, 5, 6]
    env:
      MAX_SUBSETS: 6
      RANDOM_SEED: 123

    runs-on: ubuntu-latest
    container:
      image: nordicplayground/nrfconnect-sdk:main
      options: --cpus 2

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: change_nrf_revision
        if: ${{ inputs.change_nrf_revision }}
        run: |
          python3 -m pip install -r scripts/ci/requirements.txt
          python3 scripts/ci/replace_nrf_revision_in_west.py west.yml

      - name: Reconfigure west
        run: |
          cp -r ../sdk-sidewalk /workdir/sidewalk
          cd /workdir
          west config manifest.path sidewalk
          west update --narrow -o=--depth=1

      - name: Twister build samples 
        run: /workdir/zephyr/scripts/twister --shuffle-tests --shuffle-tests-seed ${{ env.RANDOM_SEED }} --testsuite-root /workdir/sidewalk/samples/ --inline-logs --show-footprint --footprint-from-buildlog -vvv --build-only --subset ${{ matrix.subset }}/${{ env.MAX_SUBSETS }}

      - name: Upload build artifacts
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: sample-${{ matrix.subset }}_of_${{ env.MAX_SUBSETS }}
          path: |
            twister-out/**/CMakeFiles/rules.ninja
            twister-out/**/CMakeCache.txt
            twister-out/**/build.log
            twister-out/**/build.ninja
            twister-out/**/handler.log
            twister-out/**/zephyr/.config
            twister-out/**/zephyr/runners.yaml
            twister-out/**/zephyr/zephyr.*
            twister-out/**/zephyr/merged.hex
            twister-out/**/zephyr/app_update.bin
            twister-out/**/zephyr/dfu_application.zip
            twister-out/**/testbinary
            twister-out/twister.json

  combine_sample_build_artifacts:
    runs-on: ubuntu-latest
    needs: build_samples
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - uses: actions/download-artifact@v3
        with:
          path: artifacts
      
      - name: Combine twister outputs
        run: |
          mkdir twister-out
          shopt -s extglob
          cp -r artifacts/sample-*/!(twister.json) twister-out/
          python3 scripts/ci/combine_twister_reports.py $(ls artifacts/sample-*/twister.json) twister-out/twister.json

      - uses: geekyeggo/delete-artifact@v2
        with:
          name: sample-*

      - name: Upload build artifacts
        uses: actions/upload-artifact@v3
        with:
          name: sample-artifacts
          path: 
            twister-out

  build_tests:
    strategy:
      matrix:
        subset: [1, 2, 3, 4, 5, 6]
    env:
      MAX_SUBSETS: 6
      RANDOM_SEED: 123

    runs-on: ubuntu-latest
    container:
      image: nordicplayground/nrfconnect-sdk:main
      options: --cpus 2

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: change_nrf_revision
        if: ${{ inputs.change_nrf_revision }}
        run: |
          python3 scripts/ci/replace_nrf_revision_in_west.py west.yml

      - name: Reconfigure west
        run: |
          cp -r ../sdk-sidewalk /workdir/sidewalk
          cd /workdir
          west config manifest.path sidewalk
          west update --narrow -o=--depth=1

      - name: Build test artifacts for 
        run: /workdir/zephyr/scripts/twister --shuffle-tests --shuffle-tests-seed ${{ env.RANDOM_SEED }} --testsuite-root /workdir/sidewalk/tests/ --inline-logs -vvv --build-only --subset ${{ matrix.subset }}/${{ env.MAX_SUBSETS }}

      - name: Upload build artifacts
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: tests-${{ matrix.subset }}_of_${{ env.MAX_SUBSETS }}
          path: |
            twister-out/**/CMakeFiles/rules.ninja
            twister-out/**/CMakeCache.txt
            twister-out/**/build.log
            twister-out/**/build.ninja
            twister-out/**/handler.log
            twister-out/**/zephyr/.config
            twister-out/**/zephyr/runners.yaml
            twister-out/**/zephyr/zephyr.*
            twister-out/**/zephyr/merged.hex
            twister-out/**/zephyr/app_update.bin
            twister-out/**/zephyr/dfu_application.zip
            twister-out/**/testbinary
            twister-out/twister.json

  combine_test_build_artifacts:
    runs-on: ubuntu-latest
    needs: build_tests
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - uses: actions/download-artifact@v3
        with:
          path: artifacts
      
      - name: Combine twister outputs
        run: |
          mkdir twister-out
          shopt -s extglob
          cp -r artifacts/tests-*/!(twister.json) twister-out/
          python3 scripts/ci/combine_twister_reports.py $(ls artifacts/tests-*/twister.json) twister-out/twister.json
            
      - uses: geekyeggo/delete-artifact@v2
        with:
          name: tests-*

      - name: Upload build artifacts
        uses: actions/upload-artifact@v3
        with:
          name: tests-artifacts
          path: 
            twister-out
