name: Build Sidewalk samples and tests
on:
  workflow_call:
    inputs:
      change_nrf_revision: 
        description: 'change revision of nrf in west.yml to `main`'
        default: false
        required: false
        type: boolean

jobs:
  Build_samples:
    strategy:
      matrix:
        subset: [1, 2, 3, 4, 5, 6]
        platform: [nrf52840dk_nrf52840]
    env:
      MAX_SUBSETS: 6

    runs-on: ubuntu-latest
    container:
      image: nordicplayground/nrfconnect-sdk:main
      options: --cpus 2

    steps:          
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: change_nrf_revision
        if: ${{ inputs.change_nrf_revision }}
        run: |
          python3 -m pip install -r scripts/ci/requirements.txt
          python3 scripts/ci/replace_nrf_revision_in_west.py west.yml

      - name: Reconfigure west
        run: |
          cp -r ../sdk-sidewalk /workdir/sidewalk
          cd /workdir
          west config manifest.path sidewalk
          west update --narrow -o=--depth=1

      - name: Twister build samples ${{ matrix.platform }}
        run: /workdir/zephyr/scripts/twister --platform ${{ matrix.platform }} --testsuite-root /workdir/sidewalk/samples/ --inline-logs --show-footprint --footprint-from-buildlog -vvv --build-only --subset ${{ matrix.subset }}/${{ env.MAX_SUBSETS }}
      
      - name: Upload build artifacts
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: sample-${{ matrix.platform }}-${{ matrix.subset }}_of_${{ env.MAX_SUBSETS }}
          path: |
            twister-out/**/CMakeFiles/rules.ninja
            twister-out/**/CMakeCache.txt
            twister-out/**/build.log
            twister-out/**/build.ninja
            twister-out/**/handler.log
            twister-out/**/zephyr/.config
            twister-out/**/zephyr/runners.yaml
            twister-out/**/zephyr/zephyr.bin
            twister-out/**/zephyr/zephyr.elf
            twister-out/**/zephyr/zephyr.hex
            twister-out/**/zephyr/merged.hex
            twister-out/**/zephyr/app_update.bin
            twister-out/**/zephyr/dfu_application.zip
            twister-out/**/testbinary
            twister-out/twister.json

  Build_tests_for_boards:
    strategy:
      matrix:
        subset: [1, 2, 3, 4, 5]
        platform: [nrf52840dk_nrf52840]
    env:
      MAX_SUBSETS: 5

    runs-on: ubuntu-latest
    container:
      image: nordicplayground/nrfconnect-sdk:main
      options: --cpus 2

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: change_nrf_revision
        if: ${{ inputs.change_nrf_revision }}
        run: |
          python3 scripts/ci/replace_nrf_revision_in_west.py west.yml

      - name: Reconfigure west
        run: |
          cp -r ../sdk-sidewalk /workdir/sidewalk
          cd /workdir
          west config manifest.path sidewalk
          west update --narrow -o=--depth=1

      - name: Build test artifacts for ${{ matrix.platform }}
        run: /workdir/zephyr/scripts/twister --platform ${{ matrix.platform }} --testsuite-root /workdir/sidewalk/tests/ --inline-logs -vvv --build-only --subset ${{ matrix.subset }}/${{ env.MAX_SUBSETS }}
      
      - name: Upload build artifacts
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: tests-${{ matrix.platform }}-${{ matrix.subset }}_of_${{ env.MAX_SUBSETS }}
          path: |
            twister-out/**/CMakeFiles/rules.ninja
            twister-out/**/CMakeCache.txt
            twister-out/**/build.log
            twister-out/**/build.ninja
            twister-out/**/handler.log
            twister-out/**/zephyr/.config
            twister-out/**/zephyr/runners.yaml
            twister-out/**/zephyr/zephyr.bin
            twister-out/**/zephyr/zephyr.elf
            twister-out/**/zephyr/zephyr.hex
            twister-out/**/zephyr/merged.hex
            twister-out/**/zephyr/app_update.bin
            twister-out/**/zephyr/dfu_application.zip
            twister-out/**/testbinary
            twister-out/twister.json

  Build_and_run_tests_for_x86:
    strategy:
      matrix:
        subset: [1]
    env:
      MAX_SUBSETS: 1

    runs-on: ubuntu-latest
    container:
      image: nordicplayground/nrfconnect-sdk:main
      options: --cpus 2

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: change_nrf_revision
        if: ${{ inputs.change_nrf_revision }}
        run: |
          python3 scripts/ci/replace_nrf_revision_in_west.py west.yml

      - name: Reconfigure west
        run: |
          cp -r ../sdk-sidewalk /workdir/sidewalk
          cd /workdir
          west config manifest.path sidewalk
          west update --narrow -o=--depth=1

      - name: Build test artifacts for x86 and run
        run: /workdir/zephyr/scripts/twister --platform native_posix --platform unit_testing --testsuite-root /workdir/sidewalk/tests/ --inline-logs -vvv --subset ${{ matrix.subset }}/${{ env.MAX_SUBSETS }}
      
      - name: Upload build artifacts
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: tests-x86-${{ matrix.subset }}_of_${{ env.MAX_SUBSETS }}
          path: |
            twister-out/**/CMakeFiles/rules.ninja
            twister-out/**/CMakeCache.txt
            twister-out/**/build.log
            twister-out/**/build.ninja
            twister-out/**/handler.log
            twister-out/**/zephyr/.config
            twister-out/**/zephyr/runners.yaml
            twister-out/**/zephyr/zephyr.bin
            twister-out/**/zephyr/zephyr.elf
            twister-out/**/zephyr/zephyr.hex
            twister-out/**/zephyr/merged.hex
            twister-out/**/zephyr/app_update.bin
            twister-out/**/zephyr/dfu_application.zip
            twister-out/**/testbinary
            twister-out/twister.json
      
      - name: Upload test results
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: tests-x86_result
          path: |
            twister-out/twister.xml
