name: on PR action
on:
  pull_request:
    branches:
      - main

jobs:
  validate_code_compliance:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install requirements
        run: |
          python3 -m pip install -r ./scripts/ci/requirements.txt && sudo apt install uncrustify

      - name: Check formatting
        run: |
          python3 ./scripts/ci/verify_formatting.py -d -s . -c ./scripts/ci/formatter_cfg.yml

      - name: Check license
        run: |
          python3 ./scripts/ci/verify_license.py -s . -c ./scripts/ci/license.yml

  build_samples_and_tests:
    needs: validate_code_compliance
    uses: nrfconnect/sdk-sidewalk/.github/workflows/common-build-samples.yml@main

  save_pr_number:
    runs-on: ubuntu-latest
    steps:
      - name: save PR number to file
        run: |
          echo "${{ github.event.number }}" > PR_number
      
      - name: Upload build artifacts
        uses: actions/upload-artifact@v3
        with:
          name: PR_number
          path: |
            PR_number

